.cardList{
    margin-top: 2rem;
}
.buttonGrid{
    margin-top: 2rem;
}
.buttonGrid button{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    background: transparent;
    border: 2px solid blue;
    color: blue;
    padding: 0 2rem;
    height: 48px;
    transition: .3s;   
}
.buttonGrid button:hover{
    background: blue;
    color: #fff;
}